.brand-navigation{
	background-color: #fff;
	order: 2;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;	
	height: 3rem;
	@include breakpoint($medium){
		display: block;
		order: 1;
		height: auto;
	}
	.brand-navigation__link{
		color: $color-boss-black;
		line-height: 2rem;
		text-decoration: none;
		padding-right: 3rem;
		line-height: 3rem;
		@include breakpoint($medium){
			line-height: 2rem;
		}
	}
}