// Spectrum of four grey tones

$primaryColor: #73175F;

$color-boss-black: #000000;
$color-boss-orange: #d75f14;
$color-boss-green: #61bf1a;
$color-hugo-red: #cc0000;

$color-grey-darker: #333333;
$color-grey: #e5e5e5;
//……

// Breakpoints
$large:  80rem;
$medium:  60rem;
$small: 48rem;
