.main-navigation {
	order: 3;
	.main-navigation__navigation-wrapper{

	}
	.main-navigation__list-wrapper{
		padding: 0;
		margin: 0;
		list-style-type:none;
		@include breakpoint($medium){
			display: flex;
		}
	}
	.main-navigation__1stlevel{
		line-height: 2rem;
		position: relative;
		background-color: $color-grey;
		@include breakpoint($medium){
			background-color: $color-boss-black;
		}
	}

	.main-navigation__1stlevel__link{
		color: $color-boss-black;
		text-decoration: none;
		padding: 1rem;
		line-height: 2rem;
		border-top: 1px solid #000;
		display: block;
		@include breakpoint($medium){
			color: #fff;
			line-height: 1rem;
			border-top: 0px;
		}
	}

	.main-navigation__2ndlevel{
		position: absolute;
		display: none;
		background-color: #fff;
		box-shadow: 5px 5px 5px 0px rgba(125,125,125,0.75);
	}
	
	.main-navigation__1stlevel:hover .main-navigation__2ndlevel{
		@include breakpoint($medium){
			display: flex;
		}
	}
	
	.main-navigation__2ndlevel__row{
		width: 10rem;
		padding: 1rem;
	}
	.main-navigation__2ndlevel__row--without-title{
		@extend .main-navigation__2ndlevel__row;
		margin-top: 5rem;
	}

	.main-navigation__2ndlevel__headline{
		font-size: 1rem;
		margin:0;
	}

	.main-navigation__2ndlevel__link{
		display: block;

	}
}
