@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "lib/normalize";
@import "lib/swiper";

@import "config";
@import "header";
@import "brand_navigation";
@import "main_navigation";
@import "logo";

body{
  font-size: 16px;
}

.wrapper{
	width: 20rem;
  	@include breakpoint($medium){
  		width: 60rem;
  	}
  margin: 0 auto;
}

a{
  color: $color-boss-black;
}

img{
	max-width: 100%;
}

